@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-logo {
  position: relative;
  width: 138px;
  margin-right: 30px;
  margin-bottom: -11px;
  cursor: pointer;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.navigation-link-current::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 2px solid #32241c;
  position: relative;
  top: 21px;
  background-color: #756257;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.navigation-user {
  width: 268px;
  margin: 0;
  margin-left: auto;
}

.icon {
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.search {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 22px 12px;
  padding: 0;
}

.search.icon {
  background-image: url("../images/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}

.favourites.icon {
  background-image: url("../images/icons/heart-icon.svg");
  background-repeat: no-repeat;
  background-size: 18px 17px;
  background-position: center;
}

.search-hotels {
  min-width: 160px;
  min-height: 36px;
  padding: 8px 34px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  background-color: #756157;
  border: 0;
}

.search-hotels:hover {
  background-color: rgba(97, 80, 72, 1);
}

.search-hotels:focus {
  background-color: rgba(97, 80, 72, 1);
}

.search-hotels:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(117, 97, 87, 1);
}

.search-hotels:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 229, 229, 1);
}

.main-container {
  flex-grow: 1;
}

.hero {
  width: 100%;
  min-height: 485px;
  background-color: #000000;
  background-image: url("../images/index/hero-devider.png"),
    url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom, center;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
}

.welcome {
  padding-top: 51px;
  padding-bottom: 10px;
}

.to-the-gorgeous {
  margin-bottom: 54px;
}

.sedona {
  margin-bottom: 82px;
}

.advantages-title-container {
  width: 651px;
  margin: 0 auto 0 auto;
  padding: 69px 0 106px 0;
}

.advantages-title {
  padding: 0 0 25px 0;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.advantages-list,
.reco-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  padding: 103px 85px;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
}

.advantages-item-title {
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 62px 0;
}

.advantages-item-description {
  margin: 0;
}

.advantages-item-description::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  position: relative;
  bottom: 30px;
  left: 50%;
  transform: translate(-30px);
}

/* даст верный цвет выше, если убрать значения ниже */
.advantages-item-description:first-child::before,
.advantages-item-description:last-child::before {
  content: "";
  background: rgba(255, 255, 255, 0.30);
}

.advantages-item:nth-of-type(n+3):nth-child(even):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:first-child,
.advantages-item:last-child {
  color: #FFFFFF;
  background-color: #82B3D3;
}

/* если это убрать (а хочется, потому что прописаны классы last-child), заголовок в пунктах преимущест везде станосится чёрным, а не белым в некоторых местах */
.dark-blue .advantages-item-title {
  color: #FFFFFF;
}

.advantages-image img {
  display: block;
  object-fit: cover;
  height: 100%;
}

.calling-title,
.finding-hotel-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
}

.calling-title-container {
  width: 505px;
  margin: 0 auto 0 auto;
  padding: 64px 0;
}

.calling-title {
  width: 505px;
  padding-bottom: 20px;
}

.calling-title-description {
  text-align: center;
  margin: 0;
}

.reco-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 80px 85px;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
}

.reco-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reco-item-home {
  background-image: url("../images/index/advantage-icon-house.svg");
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.reco-item-food {
  background-image: url("../images/index/advantage-icon-food.svg");
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.reco-item-gift {
  background-image: url("../images/index/advantage-icon-gift.svg");
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.reco-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-top: 102px;
}

.reco-description {
  margin: 0;
}

.finding-hotel {
  width: 592px;
  margin: 0 auto 0 auto;
  padding: 96px 0;
}

.finding-hotel-title {
  padding-bottom: 20px;
}

.finding-hotel-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  padding-bottom: 54px;
}

.finding-hotel-button {
  display: block;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  padding: 8px 50px;
  margin: 0 auto;
}

.finding-hotel-button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.finding-hotel-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.finding-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(117, 97, 87, 1);
}

.finding-hotel-button:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 229, 229, 1);
}

.subscribe-container {
  width: 684px;
  margin: 0 auto;
  padding: 96px 0 104px 0;
}

.subscribe {
  background-color: #8ccbed;
  background-image: url("../images/index/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin: 0;
}

.subscribe-title-index {
  color: #FFFFFF;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 54px;
  margin: 0;
}

.sub-text-index {
  color: #FFFFFF;
}

.subscribe-form {
  display: flex;
  margin: 0;
}

.subscribe-input {
  width: 452px;
  padding: 14px 345px 14px 20px;
  box-sizing: border-box;
}

.subscribe-email-button {
  display: block;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  padding: 8px 50px;
  margin: 0 0 0 auto;
}

.subscribe-email-button:hover {
  background: rgba(104, 162, 202, 1);
}

.subscribe-email-button:focus {
  background: rgba(104, 162, 202, 1);
}

.subscribe-email-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(130, 179, 211, 1);
}

.subscribe-email-button:disabled {
  color: rgba(255, 255, 255, 1);
  background: rgba(229, 229, 229, 1);
}

.page-footer {
  display: flex;
  padding: 40px 70px 30px;
}

.networks {
  display: flex;
  width: 142px;
}

.networks-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style: none;
}

.button-network {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-network:hover path {
  fill: rgba(104, 162, 202, 1)
}

.button-network:focus path {
  fill: rgba(104, 162, 202, 1)
}

.button-network:active path {
  fill: rgba(104, 162, 202, 0.3)
}

.footer-contacts {
  width: 335px;
  margin: 0 auto;
}

.contacts-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.contacts-phone:hover {
  color: rgba(117, 97, 87, 1);
}

.contacts-phone:focus {
  color: rgba(117, 97, 87, 1);
  outline: auto;
  /* есть ли вообще такое значение? в интернете не нашла, но из-за него обводка заданного мной цвета */
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo a {
  cursor: pointer;
  display: flex;
  width: 115px;
  height: 33px;
  justify-content: center;
  align-items: center;
}

.footer-logo-link:hover path {
  fill: rgba(117, 97, 87, 1);
}

.footer-logo-link:focus path {
  fill: rgba(117, 97, 87, 1);
}

.footer-logo-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-logo-icon {
  position: absolute;
}

.filter-background {
  width: 100%;
  min-height: 412px;
  background-color: #789ec2;
  background-image: url("../images/catalog/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-header {
  padding: 0 70px;
  margin-bottom: 40px;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  padding-top: 35px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 23px;
  position: relative;
}

.breadcrumbs-link {
  position: relative;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item::before {
  content: url("../images/catalog/breadcrumbs-arrow.svg");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -14px;
}

.breadcrumbs-link:hover path {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:first-child::before {
  content: none;
}

.filter {
  color: #FFFFFF;
  text-align: left;
  padding: 0 70px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.catalog-filter-container {
  display: flex;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.cost .catalog-filter-item {
  display: flex;
  gap: 2px;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.cost-input {
  width: 143px;
  height: 48px;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.button-submit {
  background-color: #82B3D3;
  padding: 8px 50px;
}

.button-submit:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-submit:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button-submit:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-submit:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.button-reset {
  background-color: transparent;
  padding: 8px 58px;
}

.button-reset:hover {
  opacity: 30%;
}

.button-reset:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 1);
}

.catalog {
  padding: 0 70px;
}

.catalog-title {
  width: 350;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.sorting-container {
  display: flex;
  margin: 50px 0 40px 0;
}

.select-control {
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #333333;
  margin-left: auto;
  margin-right: 70px;
  border: none;
  box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
}

.select-control:hover {
  box-shadow: inset 0 0 0 2px rgba(104, 162, 202, 1);
}

.select-control:focus {
  box-shadow: inset 0 0 0 2px rgba(104, 162, 202, 1);
}

.select-control:active {
  box-shadow: inset 0 0 0 2px rgba(63, 94, 114, 1);
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.sorting-buttons {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.sorting-buttons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
}

.card-grid-toggle {
  padding: 14px 12px;
}

.card-grid-toggle:hover {
  box-shadow: inset 0 0 0 2px #000000;
  width: 100%;
  border: 0;
  text-align: center;
}

.card-grid-toggle:focus {
  border: none;
  box-shadow: inset 0 0 0 2px #68A2CA;
  width: 48px;
  text-align: center;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
  text-align: center;
}

.button-selected {
  border: 2px solid #333333;
}

.sorting-buttons-item:not(:last-child) {
  margin-right: 8px;
}

.product-list {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  border-bottom: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  margin: 0;
  grid-row: 2/3;
}

.product-card {
  padding: 20px;
  border: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  align-items: center;
  border-radius: 4px;
}

.product-card-link {
  display: grid;
  grid-column: span 2;
}

.product-card a {
  text-decoration: none;
  margin: 0;
  display: block;
}

.product-card-image {
  grid-column: span 2;
}

.product-card-type {
  margin: 0;
}

.product-card-price {
  margin: 0;
  text-align: right;
}

.product-card-button {
  background-color: #756157;
  padding-top: 8px;
  padding-bottom: 8px;
}

.product-card-button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.product-card-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.product-card-button:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.product-card-fav {
  background-color: #82B3D3;
  padding-top: 8px;
  padding-bottom: 8px;
}

.product-card-fav:hover {
  background-color: rgba(104, 162, 202, 1);
}

.product-card-fav:focus {
  background-color: rgba(104, 162, 202, 1);
}

.product-card-fav:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.product-card-fav:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.active {
  background-color: #7DB54F;
}

.active:hover {
  background-color: rgba(108, 158, 66, 1);
}

.active:focus {
  background-color: rgba(108, 158, 66, 1);
}

.active:active {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 0.3);
}

.active:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.star-rating {
  margin: 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.star-rating::before {
  content: "";
  display: block;
  height: 17px;
  background-image: url("../images/catalog/star-icon.svg");
  background-size: 24px 17px;
  background-repeat: repeat-x;
  background-position: left -3px center;
}

/* 18px (img) + 6px (margin-right) */
.stars-1::before {
  width: 24px;
}

.stars-2::before {
  width: 42px;
}

.stars-3::before {
  width: 66px;
}

.stars-4::before {
  width: 90px;
}

.stars-5::before {
  width: 114px;
}

.product-card-rating {
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
  margin: 0;
}

.pagination {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style: none;
}

.pagination-link,
.other-page {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  min-width: 60px;
  height: 60px;
  padding: 12px 24px 12px 24px;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.other-page {
  color: #000000;
  background-color: #FFFFFF;
}

.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-catalog {
  background-image: none;
  background-color: #FFFFFF;
}

.subscribe-title-catalog {
  color: #000000;
  background-color: #FFFFFF;
}

.sub-text-catalog {
  color: #000000;
}
