@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1200px;
  height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  padding: 0 70px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 460px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-logo {
  position: relative;
  width: 138px;
  margin-right: 30px;
  margin-bottom: -11px;
  cursor: pointer;
  contain: content;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  position: relative;
}

.navigation-link-current::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 2px solid #32241c;
  position: relative;
  top: 21px;
  background-color: #756257;
}

.navigation-link:focus {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0 2px black;
  box-shadow: inset 0 0 0 2px black;
  outline: none;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navigation-user {
  width: 268px;
  margin: 0;
  margin-left: auto;
}

.icon {
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.search {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 22px 12px;
  padding: 0;
}

.search.icon {
  background-image: url("../images/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}

.favourites.icon {
  background-image: url("../images/icons/heart-icon.svg");
  background-repeat: no-repeat;
  background-size: 18px 17px;
  background-position: center;
}

.favourites-circle {
  position: absolute;
  top: 17%;
  left: 45%;
  display: block;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background-color: #7db54f;
  text-align: center;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 20px;
}

.search-hotels {
  width: 160px;
  min-height: 36px;
  padding: 8px 34px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  background-color: #756157;
  border: 0;
}

.search-hotels:hover {
  background-color: rgba(97, 80, 72, 1);
}

.search-hotels:focus {
  background-color: rgba(97, 80, 72, 1);
}

.search-hotels:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(117, 97, 87, 1);
}

.search-hotels:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 229, 229, 1);
}

.main-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.hero {
  width: 100%;
  min-height: 485px;
  background-color: #d7e5f0;
  background-image: url("../images/index/hero-devider.png"),
    url("../images/index/index-background.jpg");
  background-size: 100% auto, 100% 100%;
  background-repeat: no-repeat;
  background-position: center bottom, center;
}

.hero-caption {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  margin-bottom: 82px;
}

.advantages-title-container {
  width: 651px;
  margin: 0 auto 0 auto;
  padding: 69px 0 90px 0;
}

.advantages-title {
  padding: 0 0 25px 0;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.advantages-list,
.reco-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 103px 85px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.advantages-item-title {
  width: 175px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 62px 0;
}

.advantages-item-description {
  margin: 0;
}

.advantages-item-description::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  position: relative;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-30px);
  -ms-transform: translate(-30px);
  transform: translate(-30px);
}

.dark-blue .advantages-item-description::before {
  content: "";
  background: rgba(255, 255, 255, 0.30);
}

.middle-light-blue {
  background-color: rgba(131, 179, 211, 0.1);
}

.advantages-item:nth-of-type(n+3):nth-child(even):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:first-child,
.advantages-item:last-child {
  color: #ffffff;
  background-color: #82b3d3;
}

.dark-blue .advantages-item-title {
  color: #ffffff;
}

.advantages-item-image {
  display: block;
}

.advantages-image {
  height: 100%;
}

.advantages-image img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

.calling-title,
.finding-hotel-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}

.calling-title-container {
  width: 505px;
  margin: 0 auto 0 auto;
  padding: 64px 0;
}

.calling-title {
  width: 505px;
  padding-bottom: 20px;
}

.calling-title-description {
  text-align: center;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.reco-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  padding: 80px 85px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.reco-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reco-item-home {
  background-image: url("../images/index/advantage-icon-house.svg");
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.reco-item-food {
  background-image: url("../images/index/advantage-icon-food.svg");
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.reco-item-gift {
  background-image: url("../images/index/advantage-icon-gift.svg");
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.reco-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-top: 102px;
  text-transform: uppercase;
}

.reco-description {
  margin: 0;
}

.finding-hotel {
  width: 592px;
  margin: 0 auto 0 auto;
  padding: 96px 0;
}

.finding-hotel-title {
  padding-bottom: 20px;
}

.finding-hotel-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  padding-bottom: 54px;
}

.finding-hotel-button {
  display: block;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  padding: 8px 50px;
  margin: 0 auto;
}

.finding-hotel-button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.finding-hotel-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.finding-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(117, 97, 87, 1);
}

.finding-hotel-button:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 229, 229, 1);
}

.subscribe-container {
  width: 684px;
  margin: 0 auto;
  padding: 96px 0 104px 0;
}

.subscribe {
  background-color: #8ccbed;
  background-image: url("../images/index/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin: 0;
}

.subscribe-title-index {
  color: #ffffff;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 54px;
  margin: 0;
}

.sub-text-index {
  color: #ffffff;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.subscribe-input {
  width: 452px;
  padding: 14px 345px 14px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 1);
  border: 0;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-email-button {
  display: block;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  padding: 8px 50px;
  margin: 0;
  border-radius: 0 4px 4px 0;
}

.subscribe-email-button:hover {
  background: rgba(104, 162, 202, 1);
}

.subscribe-email-button:focus {
  background: rgba(104, 162, 202, 1);
}

.subscribe-email-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(130, 179, 211, 1);
}

.subscribe-email-button:disabled {
  color: rgba(255, 255, 255, 1);
  background: rgba(229, 229, 229, 1);
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 70px 35px;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 142px;
}

.networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style: none;
}

.button-network {
  width: 47px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-network:hover path {
  fill: rgba(104, 162, 202, 1)
}

.button-network:focus path {
  fill: rgba(104, 162, 202, 1)
}

.button-network:active path {
  fill: rgba(104, 162, 202, 0.3)
}

.footer-contacts {
  width: 335px;
  margin: 0 auto;
}

.contacts-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-phone:hover {
  color: rgba(117, 97, 87, 1);
}

.contacts-phone:focus {
  color: rgba(117, 97, 87, 1);
  contain: content;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo a {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 115px;
  height: 33px;
  padding: 6px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-logo-link:hover path {
  fill: rgba(117, 97, 87, 1);
}

.footer-logo-link:focus path {
  fill: rgba(117, 97, 87, 1);
}

.footer-logo-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-logo-icon {
  position: absolute;
}

.catalog-background {
  width: 100%;
  min-height: 412px;
  padding-bottom: 50px;
  background-color: #789ec2;
  background-image: url("../images/catalog/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-header {
  margin: 0 70px 40px
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 70px 7px 70px;
  padding-top: 35px;

}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 26px;
  position: relative;
}

.breadcrumbs-link {
  position: relative;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item::before {
  content: url("../images/catalog/breadcrumbs-arrow.svg");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -14px;
}

.breadcrumbs-link:hover path {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:first-child::before {
  content: none;
}

.filter {
  color: #ffffff;
  text-align: left;
  margin: 0 70px;
}

.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1060px;
}

.catalog-filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.cost .catalog-filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}

.control {
  position: relative;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  display: block;
  padding-left: 36px;
}

.control-range {
  position: relative;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover .control-mark,
.control:hover .control-mark-radio {
  opacity: 30%;
}

.control:focus-within .control-mark,
.control:focus-within .control-mark-radio {
  -webkit-box-shadow: 0 0 0 2px rgba(104, 162, 202, 1);
  box-shadow: 0 0 0 2px rgba(104, 162, 202, 1);
}

.control:active .control-mark,
.control:active .control-mark-radio {
  opacity: 30%;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/catalog/tick.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
}

.control-mark-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background-color: #ffffff;
  display: block;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #3F5E72;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  content: "";
  border-radius: 50%;
}

.cost-input {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  margin-bottom: 40px;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.cost-input:focus {
  -webkit-box-shadow: 0 0 0 3px #83B3D3;
  box-shadow: 0 0 0 3px #83B3D3;
  outline: none;
}

.cost-input:active {
  -webkit-box-shadow: 0 0 0 3px #000000;
  box-shadow: 0 0 0 3px #000000;
}

.cost-from-input {
  border-radius: 4px 0 0 4px;
}

.cost-before-input {
  border-radius: 0 4px 4px 0;
}

.cost-input-text {
  position: absolute;
  z-index: 1;
  bottom: 52px;
  right: 20px;
  display: block;
  font-family: inherit;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.1);
  text-transform: lowercase;
}

.cost-input::-webkit-input-placeholder {
  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.cost-input::-moz-placeholder {
  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.cost-input:-ms-input-placeholder {
  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.cost-input::-ms-input-placeholder {
  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.cost-input::placeholder {
  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.cost-input::-webkit-outer-spin-button,
.cost-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.range-scale {
  position: relative;
  width: 288px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 0;
  border-radius: 4px;
}

.toggle-min {
  top: -10px;
}

.toggle-max {
  top: -10px;
  right: 0;
}

.filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 32px;
}

.button-submit {
  background-color: #82b3d3;
  padding: 8px 50px;
}

.button-submit:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-submit:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button-submit:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-submit:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.button-reset {
  background-color: transparent;
  padding: 8px 58px;
}

.button-reset:hover {
  opacity: 30%;
}

.button-reset:focus {
  -webkit-box-shadow: 0 0 0 3px #83B3D3;
  box-shadow: 0 0 0 3px #83B3D3;
  outline: none;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 1);
}

.catalog {
  margin: 0 70px;
}

.catalog-title {
  width: 350px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 6px 0;
}

.sorting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 0 0;
}

.select-control {
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #333333;
  margin-left: auto;
  margin-right: 70px;
  border: none;
  -webkit-box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
  box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
  border-radius: 4px;
  padding: 14px 20px;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select:not([multiple]) {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 21px;
  background-size: 11px auto;
  background-image: url("../images/catalog/select-arrow.svg")
}

.select-control::before {
  position: absolute;
  top: 0;
  right: -20px;
  background-image: url("../images/catalog/select-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.select-control:hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(104, 162, 202, 1);
  box-shadow: inset 0 0 0 2px rgba(104, 162, 202, 1);
}

.select-control:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(104, 162, 202, 1);
  box-shadow: 0 0 0 2px rgba(104, 162, 202, 1);
  outline: none;
}

.select-control:active {
  -webkit-box-shadow: inset 0 0 0 2px rgba(63, 94, 114, 1);
  box-shadow: inset 0 0 0 2px rgba(63, 94, 114, 1);
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.sorting-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.sorting-buttons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card-grid-toggle {
  padding: 12px 15px;
}

.card-grid-toggle:hover {
  -webkit-box-shadow: 0 0 0 2px #000000;
  box-shadow: 0 0 0 2px #000000;
  border-radius: 4px;
  width: 100%;
  border: 0;
  text-align: center;
}

.card-grid-toggle:focus {
  border: none;
  -webkit-box-shadow: 0 0 0 2px #68A2CA;
  box-shadow: 0 0 0 2px #68A2CA;
  border-radius: 4px;
  width: 48px;
  text-align: center;
  outline: none;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
  text-align: center;
}

.button-selected {
  border: 2px solid #333333;
}

.sorting-buttons-item:not(:last-child) {
  margin-right: 8px;
}

.product-list {
  margin: 0;
  padding: 38px 0 36px 0;
  list-style: none;
  border-bottom: 1px solid #E6E6E6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  margin: 0;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  contain: content;
}

.lowcase-word {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  margin: 0;
  text-transform: lowercase;
}

.product-card {
  padding: 20px;
  border: 1px solid #E6E6E6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 20px 140px;
  grid-template-columns: 140px 140px;
  -ms-grid-rows: 212px 16px 1fr;
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
}

.product-card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.product-card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.product-card > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.product-card > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.product-card-link {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.product-card a {
  text-decoration: none;
  margin: 0;
}

.product-card-image {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.product-card-type {
  margin: 0;
}

.product-card-price {
  margin: 0;
  text-align: right;
}

.product-card-button {
  background-color: #756157;
  padding-top: 8px;
  padding-bottom: 8px;
}

.product-card-button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.product-card-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.product-card-button:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.product-card-fav {
  background-color: #82B3D3;
  padding-top: 8px;
  padding-bottom: 8px;
}

.product-card-fav:hover {
  background-color: rgba(104, 162, 202, 1);
}

.product-card-fav:focus {
  background-color: rgba(104, 162, 202, 1);
}

.product-card-fav:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.product-card-fav:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.active {
  background-color: #7db54f;
}

.active:hover {
  background-color: rgba(108, 158, 66, 1);
}

.active:focus {
  background-color: rgba(108, 158, 66, 1);
}

.active:active {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 0.3);
}

.active:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.star-rating {
  margin: 0;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.star-rating::before {
  content: "";
  display: block;
  height: 17px;
  background-image: url("../images/catalog/star-icon.svg");
  background-size: 24px 17px;
  background-repeat: repeat-x;
  background-position: left -3px center;
}

/* 18px (img) + 6px (margin-right) */
.stars-1::before {
  width: 24px;
}

.stars-2::before {
  width: 42px;
}

.stars-3::before {
  width: 66px;
}

.stars-4::before {
  width: 90px;
}

.stars-5::before {
  width: 114px;
}

.product-card-rating {
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  margin: 0;
  cursor: auto;
}

.pagination {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 40px 0 60px;
  list-style: none;
}

.pagination-link,
.other-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  min-width: 60px;
  height: 60px;
  padding: 12px 20px;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.other-page {
  color: #000000;
  background-color: #ffffff;
}

.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-catalog {
  background-image: none;
  background-color: #ffffff;
}

.subscribe-title-catalog {
  color: #000000;
  background-color: #ffffff;
}

.sub-text-catalog {
  color: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
  overflow: scroll;
}

.modal-container-close {
  /* display: none; */
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-search {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: 0;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
}

.modal-close-button-icon {
  vertical-align: middle;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
  outline: none;
}

.modal-close-button:active {
  outline: none;
  opacity: 50%;
}

.modal-title {
  margin: 0 0 64px 0;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.field-name {
  -ms-flex-preferred-size: min-content;
  flex-basis: 23%;
  padding: 12px 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
}

.modal-form-field {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-form-field:hover {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6);
}

.modal-form-field:focus {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 2px rgba(104, 162, 202, 1);
  box-shadow: 0 0 0 2px rgba(104, 162, 202, 1);
  border-radius: 4px;
  outline: none;
}

.modal-form-field:active {
  color: #000000
}

.field-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.field-group-children {
  flex-wrap: nowrap;
}

.p-date-field::before {
  position: absolute;
  display: block;
  top: 14px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../images/index/calendar-icon.svg");
  background-size: 16px 15px;
  background-repeat: no-repeat;
  content: "";
  opacity: 30%;
  padding: 2px 2px 3px;
}

.date-field {
  width: 400px;
  margin-bottom: 4px;
}

.modal-warning-date {
  display: block;
  font-family: inherit;
  font-size: 16px;
  color: #ff5757;
  margin-bottom: 23px;
  margin-left: 157px;
}

.modal-hint-date {
  display: block;
  font-family: inherit;
  font-size: 16px;
  color: #333333;
  margin-bottom: 23px;
  margin-left: 157px;
}

.modal-group-persons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 48px;
}

.persons-field {
  margin-left: 46px;
  width: 110px;
  max-width: 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
}

.persons-field::-webkit-outer-spin-button,
.persons-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.field-persons-number {
  position: relative;
}

.minus-icon,
.plus-icon {
  position: absolute;
  margin: 14px 10px;
  padding: 0 0;
  border: 0;
  background-color: transparent;
}

.minus-icon {
  top: 0;
  left: 46px;
}

.plus-icon {
  top: 0;
  right: 0;
}

.minus-icon path:hover,
.plus-icon path:hover {
  fill: #000000;
}

.minus-icon:focus,
.plus-icon:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(104, 162, 202, 1);
  box-shadow: 0 0 0 2px rgba(104, 162, 202, 1);
  border-radius: 4px;
  outline: none;
}

.persons-field:focus {
  outline: none;
}

.minus-icon svg {
  text-align: center;
  vertical-align: middle;
}

.plus-icon svg {
  text-align: center;
  vertical-align: middle;
}

.tooltip {
  position: relative;
  margin-top: 11px;
  margin-left: 10px;
  display: block;
}

.tooltip-toggle {
  display: block;
  width: 26px;
  height: 26px;
  border: 0;
  border-radius: 50%;
  background-color: #83b3d3;
}

.tooltip-icon {
  vertical-align: middle;
}

.tooltip-text {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 100%;
  z-index: 1;
  display: none;
  width: 256px;
  border-radius: 10px;
  margin: 0;
  padding: 15px 18px;
  background-color: #333333;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/icons/tooltip-arrow.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 8px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-form-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: 0;
  border-radius: 10px;
  padding: 18px 77px;
}

.modal-form-button:hover {
  background-color: #68a2ca;
}

.modal-form-button:focus {
  background-color: #68a2ca;
}

.modal-form-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}
